.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
}
.nav{
    display:flex;
    justify-content: space-around;
}
#logo{
    display:inline-flex;
    margin-right: 12px;
}
#academy{
    font-weight: bolder;
}
.nav-links p {
display:inline-flex;
margin-right: 12px;
}
.banner-container{
    display:inline-flex;
    background-color: lightgrey;
    width:100%;
    height:auto;
}
#imagecontainer{
    width:60%;
    height:auto;
    margin:32px 24px;
}
 .banner-text-container{
     width:40%;
     height:auto;
     margin:auto;
 }
#banner-text{
    color:lightseagreen;
    align-content: center;
    margin:32px 24px;
}
    #banner-title--p{
        padding:24px 0px;
    }
    #start{
        width:60%;
        display: block;
        padding:8px 0px 8px;
    }
    .info-container{
        width: 100%;
        display:flex;
        flex-direction: column;
        gap:24px;
        margin: 32px 16px;
    }
    #imginfo-main{
        width:60%;
        height:auto;
        margin:32px 24px;
    }
    .flex-content {
        display: flex;
        padding: 0 1.5rem;
      }
      
      .flex-content .main-content {
        width: 60%;
        padding: 2rem 1.5rem 2rem 0;
        border-right: 1px solid rgb(245, 245, 245);
      }
      
      .flex-content .supporting-content {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 2rem 0;
      }
      
      /* Universal Component - Content Image Box */
      
      .content-image-box {
        display: flex;
        padding: 1rem 0 1rem 1rem;
        border-bottom: 1px solid rgb(245, 245, 245);
      }
      .content-image-box:first-child {
        padding-top: 0;
      }
      
      .content-image-box:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
      
      .content-image-box .media-container {
        width: 35%;
      }
      
      .content-image-box .text-content {
        display: flex;
        flex-direction: column;
        width: 65%;
        
      }
      
      .content-image-box h4 {
        padding-bottom: .5rem;
        font-size: 1.25rem;
        font-weight: bold;
      }
      
      .content-image-box p {
        padding-bottom: .5rem;
      }
      
      .content-image-box .mobile {
        display: none;
      }     
      #courses-section {
        padding: 2rem 3.5rem;
        background-color: rgb(245, 245, 245);
      }
      
      .courses-row {
        display: flex;
      }
      
      .course {
        flex-basis: 33%;
        margin: 1rem;
        background-color: white;
      }
      
      .course .text-content {
        padding: 1rem 1rem 1.5rem 1rem;
      }
      
      .course h3,
      .course h4 {
        padding-bottom: .5rem;
      }
      
      @media only screen and (max-width: 770px) {
        #courses-section {
          padding: 2rem 1rem;
          background-color: inherit;
        }
      
        .courses-row {
          flex-direction: column;
        }
      
        .course {
          margin: .25rem 0;
        }
      
        .course .text-content {
          background-color: rgb(216, 216, 216);
        }
      
        .course h3 {
          padding-bottom: 0;
        }
      
        .course .media-container,
        .course h4,
        .course p {
          display: none;
        }
      }
     /* Thesis */

#thesis-section {
    padding: 2rem 0;
  }
  
  #thesis-section .main-content {
    padding-bottom: 0;
  }
  
  #thesis-section h3 {
    padding: .5rem 0;
  }
  
  @media only screen and (max-width: 895px) {
    #thesis-section .main-content h3,
    #thesis-section .main-content p,
    #thesis-section .supporting-content {
      display: none;
    }
  
    #thesis-section {
      padding-bottom: 1.5rem;
    }
  
    #thesis-section .flex-content {
      padding: 0;
    }
  
    #thesis-section .main-content {
      width: 100%;
      padding: 0;
      margin-right: 0;
    }
  }
  
  /* Footer */
  
  footer {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: .75rem;
    color: rgb(112, 112, 112);
  }
  
  footer .copyright {
    flex-grow: 1;
  }
  
  footer a {
    margin-right: .75rem;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  @media only screen and (max-width: 600px) {
    footer a {
      display: none;
    }
  } 
        
    
    
    